body {
	background-color: #555;
	font-family: arial;
	margin: 0px;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: orangered;
	transition: 0.5s;
}
a:hover {
	text-decoration: underline;
	color: coral;
	transition: 0.5s;
}
